<div class="d-flex flex-column flex-shrink-0 p-3 bg-white shadow sidebar" style="width: 280px;">
    <a href="{{ url_for('admin.admin_dashboard') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none border-bottom pb-3">
        <div class="p-2 bg-orange rounded me-3">
            <i class="bi bi-gear-fill text-white fs-4"></i>
        </div>
        <span class="fs-4 fw-bold text-dark">Admin Panel</span>
    </a>
    <ul class="nav nav-pills flex-column mt-3">
        <li class="nav-item">
            <a href="{{ url_for('admin.admin_dashboard') }}" class="nav-link {% if request.path == url_for('admin.admin_dashboard') %}active{% endif %}">
                <i class="bi bi-people-fill me-2"></i>
                <span>Cadastro de Usuários</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <i class="bi bi-person-check-fill me-2"></i>
                <span>Cadastro de Perfis</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <i class="bi bi-hdd-stack-fill me-2"></i>
                <span>Controle de Banco</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <i class="bi bi-gear-fill me-2"></i>
                <span>Configurações</span>
            </a>
        </li>
    </ul>
</div>