# Ignora a pasta do ambiente virtual
venv/
.venv/

# Ignora arquivos de cache e gerados pelo Python
__pycache__/
*.pyc

# Arquivos de log e bancos de dados
*.log
logs/
db.sqlite3

# Arquivos de configurações sensíveis
.env

# Outros
soParaVisu/