{% extends "admin/base.html" %}

{% block header_title %}Cadastro de Usuários{% endblock %}
{% block header_subtitle %}Gerencie os usuários do sistema{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container mb-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alerta-{{ category }} mt-4" role="alert">
                        <i class="bi bi-info-circle-fill me-2"></i>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="bg-white rounded-3 shadow p-4 mb-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="h5 fw-semibold text-dark">Lista de Usuários</h2>
            <button class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#addUserModal">
                <i class="bi bi-plus me-2"></i>
                Novo Usuário
            </button>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-light">
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.nome }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.empresa }}</td>
                        <td>
                            <span class="badge {% if user.perfil == 'admin' %}text-bg-warning{% else %}text-bg-success{% endif %}">
                                {{ user.role }}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-sm text-primary" onclick="showEditModal('{{ user.id }}', '{{ user.nome }}', '{{ user.email }}', '{{ user.empresa }}', '{{ user.perfil }}')">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-sm text-danger" onclick="showDeleteModal('{{ user.id }}', '{{ user.nome }}')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum usuário cadastrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="bg-white rounded-3 shadow p-4">
        <h2 class="h5 fw-semibold text-dark mb-4">Cadastrar Novo Usuário</h2>
        <form class="row g-3" action="{{ url_for('admin.cadastrar_usuario') }}" method="post">
            <div class="col-md-6">
                <label for="fullName" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="fullName" name="nome" required>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="col-md-6">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="telefone" name="telefone" required>
            </div>
            <div class="col-md-6">
                <label for="company" class="form-label">Empresa</label>
                <input type="text" class="form-control" id="company" name="empresa" required>
            </div>
            <div class="col-md-6">
                <label for="seguimento" class="form-label">Seguimento</label>
                <input type="text" class="form-control" id="seguimento" name="seguimento">
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="senha" required>
            </div>
            <div class="col-md-6">
                <label for="profile" class="form-label">Perfil</label>
                <select id="profile" class="form-select" name="perfil" required>
                    <option selected disabled value="">Selecione...</option>
                    <option value="user">Cliente</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>
            <div class="col-12 mt-4">
                <button type="submit" class="btn btn-orange">
                    Cadastrar Usuário
                </button>
            </div>
        </form>
    </div>

<!-------------------------------------------- CONFIRMAÇÃO DE EXCLUSÃO -------------------------------------------->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteUserModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja excluir o usuário <strong id="userNameToDelete"></strong>? Esta ação é irreversível.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="confirmDeleteButton" href="#" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------- EDIÇÃO DE USUÁRIO -------------------------------------------->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" method="post" action="/admin/edit">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="editUserModalLabel">Editar Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editUserId" name="id">
                <div class="mb-3">
                    <label for="editUserName" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="editUserName" name="nome" required>
                </div>
                <div class="mb-3">
                    <label for="editUserEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="editUserEmail" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="editUserEmpresa" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="editUserEmpresa" name="empresa" required>
                </div>
                <div class="mb-3">
                    <label for="editUserPerfil" class="form-label">Perfil</label>
                    <select class="form-select" id="editUserPerfil" name="perfil" required>
                        <option value="user">Cliente</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </div>
        </form>
    </div>
</div>

{% block scripts %}
<script>
    // A função é ativada quando o usuário clica no botão "excluir"
    function showDeleteModal(userId, userName) {
        // Encontra o modal na página
        const deleteModal = new bootstrap.Modal(document.getElementById('deleteUserModal'));
        
        // Pega os elementos dentro do modal que precisam ser atualizados
        const userNameElement = document.getElementById('userNameToDelete');
        const confirmButton = document.getElementById('confirmDeleteButton');

        // Atualiza o texto do modal com o nome do usuário
        userNameElement.textContent = userName;

        // Atualiza o link do botão de exclusão com o ID correto
        confirmButton.href = `/admin/delete/${userId}`;

        // Exibe o modal
        deleteModal.show();
    }
</script>

<!-- Script para preencher e mostrar o modal de edição -->
<script>
    function showEditModal(id, nome, email, empresa, perfil) {
        const editModal = new bootstrap.Modal(document.getElementById('editUserModal'));

        document.getElementById('editUserId').value = id;
        document.getElementById('editUserName').value = nome;
        document.getElementById('editUserEmail').value = email;
        document.getElementById('editUserEmpresa').value = empresa;
        document.getElementById('editUserPerfil').value = perfil;

        editModal.show();
    }
</script>
{% endblock %}




{% endblock %}